/* Main Elements */
html {-webkit-user-select: auto;}
body {min-height: 100%;padding: 10px 0 20px;box-sizing: border-box;}
#wrapper {position: relative;z-index: 2;max-width: 900px;min-height: 100%;margin: 0 auto;padding: 20px;}
section {position: relative;overflow: hidden;margin: 0 0 40px;}
.breadcrumb, .gist {margin: 0 0 20px;}
.right {float:right;}
h3 + div {margin: 0 0 35px;}

/* Text */
h1 {font-size:2em;}
.description {font-size:1.5em;font-style:italic;font-family:Georgia;padding:0 0 25px;line-height:25px;}

/* Player */
#player {min-height:140px;}
#player .sp-player {float:left;margin-right:10px;}
#player .sp-list {width:inherit;max-height:inherit;}

/* Drop Box */
#drop_box {border:4px dashed #333;width:100%;height:200px;padding:10px;}
#drop_box.over {opacity:0.8;border-color:#74c043;}

/* Index */
#index h1, #index ul {margin:0 0 30px;}
#index a:hover {color:#83be20;}

.columns {
	-webkit-columns: 1;
	columns: 1;
	margin-bottom: 20px;
}

.standard-entry {
  cursor: pointer;
  line-height: 1.8;
}

.standard-entry:hover {
	text-decoration: underline;
}

.listlink:hover {
	background-color: #BBBBBB;
	cursor: pointer;
}

td {
	padding-right: 20px;
	border: 0;
	margin: 0;
	padding: 3px 2px;
}

table {
	border-spacing: 0;
	width: 100%;
}

th {
	text-align: left;
}

.margin-bottom-medium {
	margin-bottom: 20px;
}

tr:nth-of-type(even) {
	background-color: #DDDDDD;
}

.standards-letter-heading {
	margin-bottom: 10px;
}

.shortcuts {
	font-size: 14px;
	margin-bottom: 20px;
}

.shortcuts a {
	margin-right: 12px;
}

@media all and (min-width: 400px) and (max-width: 600px) {
	.columns {
		-webkit-columns: 2;
	}
}


@media all and (min-width: 801px) {
	.columns {
		-webkit-columns: 3;
	}
}

.loading {
  display: block;
  width: 30px;
  height: 30px;
  margin: 30px auto;
  background-image: url(../img/loading_indicator.png);
}
